

main h1 {
    font-size: larger;
    font-weight: bolder;
    padding-left: 10px;
    position: relative;

    
}
main .restaurants h2 {
    font-size: large;
    padding-left: 30px;
    font-weight: bold;
}

main .restaurants .restaurant .restr-descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .restaurant .description {
    font-size: medium;
    padding-right: 40px;
    text-align: justify;
    width: auto;
}

main .restaurant .img-restr {
    width: 500px;
    height: auto;
    margin-left: 40px;
    border-radius: 18px;
    margin-top: 20px;
}

.star-rate i {
    transition-duration: .3s;
}

.star-rate .fa-star {
    color: gray;
}

.star-rate .fa-star:hover {
    transition: .3s;
}

.leave-comment input {
    animation-name: comment;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0 15px 15px 15px;
}

.leave-comment input:focus {
    border: 5px solid #ea9e07;
}

::placeholder {
    padding-left: 40px;
}

.btn-outline-primary {
    visibility: hidden;
}

.star-rate {
    margin-left: 60px;
    margin-top: 20px;
}

.read-comment {
    margin-left: 40px;
    background-color: #fbef4d6d;
    width: 80%;
    border-radius: 4px;
    padding: 20px 40px;
    margin-top: 40px;
}

.others-comment .comment-writer {
    margin-left: 50px;
}

.price-food {
    z-index: 2;
    margin-left: -100px;
    justify-self: flex-start;
    font-weight: bolder;
    font-size: larger;
    border: 3px solid #f8d796;
    border-radius: 50%;
    padding: 15px;
    background-color: #e98e1f;
    color: #ddecec;
}

.price-food:hover {
    background-color: rgb(235, 94, 43);
    border: 3px dotted orange;
}

#img-prc {
    display: flex;
    align-items: flex-start;
}

#img-prc:hover {
    opacity: 80%;
    transition-duration: .5s;
}

.food-spec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rest-add {
    margin-right: 60px;
}

.rest-add .rest-cont, .rest-add .rest-loca {
    margin: 15px 5px;
    
}

.rest-add .rest-cont .fa-copy:hover, .rest-add .rest-loca .fa-copy:hover {
    color: rgb(235, 94, 43);
}

.star-rate-noedit:hover {
     color: rgb(247, 88, 14);   
     transform: scale(1.05);
     transition-duration: .2s;
    }


@keyframes comment {
    1% {
        width: 0%;
        height: 0px;
        background-color: white;
        margin-left: 0px;
        border: 3px solid black;
        display: block;
    }

    50% {
        width: 60%;
        height: 70px;
        background-color: rgba(238, 186, 95, 0.455);
        margin-left: 60px;
    }

    100% {
        width: 80%;
        height: 100px;
        margin-left: 80px;
        background-color: rgba(238, 185, 95, 0.725);
        color: white;
        padding-left: 40px;
    }

    
    
}
