 #off-can-triger {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
 }

 #offcanvasExample {
   background-color: #f5e8d3d3;
   overflow-y: scroll;
   overflow-x: hidden;
 }
           